<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Добавить факт</title>
</head>
<body>
    <h1>Добавить новый факт</h1>
    
    <!-- Подсказка для пользователя -->
    <p>Введите интересный факт об экологии, который хотите добавить. Убедитесь, что факт не является пустым и уникальным.</p>

    <form action="" method="POST">
        <input type="text" name="content" required placeholder="Введите факт">
        <button type="submit">Добавить</button>
    </form>
    
    <a href="{{ url_for('index') }}">Назад</a>
</body>
</html>